{{ define "main" }}

<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
        <h1 class="post-title">{{ .Title }}</h1>
        <p class="post-meta">
            {{- partial "post_meta.html" . -}}
            {{- partial "edit_post.html" . -}}
        </p>
    </header>
    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{- partial "toc.html" . }}
        </aside>
    {{ end }}
    {{- if not .Params.disableanchors }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</article>
<footer class="post-footer">
    {{- if not .Params.hidetags }}
    {{- $tags := .Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
        post tags:
        {{- range ($.GetTerms $tags) }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
    </ul>
    {{- end }}
</footer>
{{ end }}
