// -------------- THEME SWITCHER -------------- //
//@mixin dark-appearance {
//  filter: invert(1);
//  img {
//    filter: invert(1);
//
//    &.ioda { filter: invert(0); }
//  }
//}
//
//body[a="dark"] { @include dark-appearance; }
//
//
//@media (prefers-color-scheme: dark) {
//  body[a="auto"] { @include dark-appearance; }
//}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706

// --------------- SET VARIABLES -------------- //
:root {
    --main-width: 680px;
    --nav-width: 680px;
    --border-radius: 5px;
    --theme: #020202;
    --primary: #fff;
    --secondary: #BFBFBF;
    --tertiary: #8C8C8C;
    --quaternary: #595959;
    --w-accent: #01876C;
    --s-accent: #00FF91;
    --url: #0284F7;
}

.light {
    --theme: #fff;
    --primary: #000;
    --secondary: #595959;
    --tertiary: #8C8C8C;
    --quaternary: #BFBFBF;
}

// ------------------- NAVBAR ----------------- //

.topnav-container {
    position: relative;
    max-width: var(--nav-width);
    margin: auto;
    overflow: hidden;
    z-index: 1;

    ul {
        list-style: none;
        float: right;
        margin: 0;
        padding: 5px 5px;
    }

    a {
        display: inline-block;
        height: 100%;
        padding: 2px 4px;
        margin: 0;
    }
}

#menu a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        background: none;
        color: var(--url);
    }
}

// NAVBAR // --------------- THEME SWITCHER ------------- //

.theme-toggle {
    display: inline-block;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label svg.sun {
    visibility: hidden;
}

input:not(:checked) + label svg.moon {
    visibility: hidden;
}

label {
    cursor: pointer;

    svg {
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 5px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &.sun path {
            fill: var(--primary);
        }
    }
}

#ChangeTheme {
    height: 0;
    width: 0;
}

// ---------------- SCROLLBAR ---------------- //

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--theme);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid var(--theme);
}

// ---------------- FRONT PAGE ---------------- //

.wrapper {
    margin: 10px 0;
    display: grid;
    place-items: center;

    & .type-title {
        overflow: hidden;
        font-size: 2em;

        &:after {
            position: relative;
            content: "_";
            animation: blink 1s steps(2, start) infinite;
            font-weight: bold;
        }
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.fp-content {

    h3 {
        text-align: center;
        padding: 10px 0;
        margin: 10px 0;
    }
}

.fp-links {
    display: block;
    text-align: center;

    .contact-links {
        display: inline-block;

        p {
            text-align: left;
        }
    }
}

// ----------------- POST LIST ----------------- //
#posts {
    list-style: none;
    padding: 0;
    margin: 0;

    #post {
        padding: 0 0 10px 0;
        margin: 0 0 25px 0;
        position: relative;
        border-bottom: dotted 2px var(--quaternary);

        p {
            padding: 0 0 20px 0; 
            margin: 0;
        }
    }
}

.post-title {
    position: relative;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--w-accent);
    border-bottom: 3px dotted var(--w-accent);

    a {
        color: var(--w-accent);
        text-decoration: none;

        &:hover {
            color: var(--w-accent);
            text-decoration: none;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        display: block;
        width: 100%;
        border-bottom: 3px dotted var(--w-accent);
    }
}

span.post-tags {
    font-size: 12px;

    & a {
        color: var(--tertiary);
        text-decoration: none;

        &:hover {
            color: var(--url);
            text-decoration: underline;
        }
    }
}

// ------------------ ARTICLE ----------------- //

article {
    text-align: justify;

    & img {
        margin: 20px 0 20px 0;
        border-radius: var(--border-radius);
        border: solid thin var(--quaternary); 
    }
}

footer.post-footer {
    border-top: solid 1px var(--tertiary);
}

// ARTICLE // -------------------- TOC ------------------- //

.toc {
    margin-top: 1rem;
    padding: 0.5rem;
    border: thin solid var(--w-accent);
}

// ARTICLE // -------------------- CODE ------------------ //

.highlight pre {
    border: solid thin var(--quaternary); 
    background: var(--theme) !important;
    padding: 1em;
    overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

.highlight pre code {
    color: var(--primary);
    font-size: 14px;
}

p code {
    color: var(--s-accent);
    background: var(--w-accent); 
    font-size: 14px;
    padding: 1px 4px;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

// ------------------- MAIN ------------------- //

html, body { background: var(--theme); }

html { height: 100%; }

body {
    color: var(--primary);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

::selection {
    color: var(--theme);
    background: var(--tertiary);
}
::-moz-selection {
    color: var(--theme);
    background: var(--tertiary);
}

.post-meta {
    font-size: 12px;
    margin: 20px 0 20px 0;
    position: relative;
}

h2, h3, h4, h5, h6 { margin-top: 2rem; }

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    color: var(--url);
    margin-inline-start: 8px;
    font-weight: 500;
    user-select: none;
}

a.anchor:hover {
    text-decoration: underline;
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

a {
    color: var(--primary);
    text-decoration: underline;
}

a:hover {
    color: var(--url);
    text-decoration: underline;
}

ul {
}

li {
    margin: 0.4rem 0;
}

*:target {
    background: none;
}

.w {
    max-width: var(--main-width);
    margin: 0 auto;
    padding: 0.2rem 2rem;
}

hr {
    text-align: center;
    border: 0;

    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
}

table, th, td {
    border: thin solid var(--tertiary);
    border-collapse: collapse;
    padding: 0.4rem;
}

table {
    width: 100%;
    font-size: 12px;
}

blockquote {
    margin: 40px 0;
    padding: 25px;
    border-top: solid thin var(--w-accent);
    border-bottom: solid thin var(--w-accent);

    p {
        margin: 0;
        padding-bottom: 10px;
        position: relative;

        &:first-of-type:before {
            content: ">";
            display: block;
            position: absolute;
            left: -25px;
        }
    }
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    opacity: 0.5;
}

.js-only { display: none ; }

input#search {
    all: unset;
    color: var(--primary);
    padding: 0.4rem 0.6rem;
    border: solid 1px var(--primary);
    width: 100%;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

button#clear-search {
    all: unset;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 60px;
    padding-left: 8px;
    color: var(--primary);
    cursor: pointer;
}
button#clear-search:hover {
    color: var(--secondary);
}

// ---------------- TAGS PAGE ----------------- //

div.terms ul {
    list-style: none;
    padding: 0;
}

// --------------- BREADCRUMBS ---------------- //

ol.breadcrumbs-list {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
    }
}

ol.breadcrumbs-list li {
    display: inline;
    font-size: 12px;
}

li.breadcrumbs-active a {
    font-weight: bold;
}

ol.breadcrumbs-list a:hover {
    text-decoration: none;
}

ol.breadcrumbs-list span:hover {
    text-decoration: underline;
}

.breadcrumbs-sep:hover {
    text-decoration: none !important;
}
