{{ define "main" }}

<header>
    <div class="wrapper">
        <div class="type-title">
            {{ $.Site.Title }}
        </div>
    </div>
</header>
<div class="fp-content">
    <div class="fp-links">
        <div class="contact-links">
            <p>
                github&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->&nbsp;&nbsp;<a href="https://www.github.com/ogjojo">ogjojo</a><br>
                tryhackme&nbsp;&nbsp;->&nbsp;&nbsp;<a href="https://tryhackme.com/p/linutti">linutti</a><br>
            </p>
        </div>
    </div>
    <div class="fp-posts">
        {{ partial "post_list.html" (dict "context" . "limit" "5" "show_more" "true" "show_more_text" "all posts →" "show_more_url" "posts") }}
    </div>
    <div class="fp-rss">
        <h3><a href="index.xml">rss</a></h3>
    </div>
</div>

{{ end }}
